# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
db.sqlite3
/staticfiles
/media

# Environments
.env
venv/
env/
*.env

# VS Code
.vscode/

# Migrations
**/migrations/
!**/migrations/__init__.py

# Settings
personal/settings_dev.py

